body{
    /*background-image: url(background_edited.jpg);*/
    background-size: cover;
    height: 100vh;
    background-repeat:no-repeat;
    background-color: #946547;
    background-position: center;
}