html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
}

body {
	margin : 0;
	padding : 0;
    
}

/*--요소 정렬을 위한 콘테이너---------------------------*/

.centerContainer{
    position : fixed;
	top : 0; 
	left : 0;
	width : 100%;
    height: 100%;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*--이미지 클래스--------------------------------------*/

#bg {
    background-image: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: min(100%, 100vw * 9 / 16);
    width: min(100%, 100vh * 16 / 9);
}

/*--아래부터 화면 등장요소 -----------------------*/

#kirakira {
    height: 30%;
    width: 30%;
    right: 10%;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

#kirakira:hover {
    filter: drop-shadow(-1pt -10pt 10pt #faffd3)
            drop-shadow(1pt 10pt 40pt yellow);
    cursor: pointer;
}