html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
}

body {
	margin : 0;
	padding : 0;
    
}

/*--요소 정렬을 위한 콘테이너---------------------------*/

.centerContainer{
    position : fixed;
	top : 0; 
	left : 0;
	width : 100%;
    height: 100%;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*--이미지 클래스--------------------------------------*/

#bg {
    
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

/*--아래부터 화면 등장요소 -----------------------*/

.item_lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: solid firebrick;*/
    height: 50%;
    
}

.item_lottie:hover{
    cursor: pointer;
}

#interaction01{
    background-image: url(../assets/img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0%;
    left: 0%;
    
}

#interaction02{
    background-image: url(../assets/img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 50%;
    left: 0%;
}

#nextBtn {
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 15%;
}

#nextBtn:hover {
    filter: drop-shadow(0 0 3px yellow);
    cursor: pointer;
}