body{
    background-color: darkolivegreen;
    
}

.interaction{
    transition: .5s;
    filter: brightness(30%);
    

}

.interaction:hover{
    transition: .2s;
    filter: brightness(100%) contrast(120%) drop-shadow(10px 0px 3px yellow) drop-shadow(-10px 0px 3px yellow) drop-shadow(0px -10px 3px yellow) drop-shadow(0px 10px 3px yellow);
    
    

}

.interaction:active{
    opacity: 30%;
    
}

#first{
    width:200px;
}