#instContainer {
    display: grid;
    grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
}

#instContainer > div {
    position: absolute;
    width: 100%;
}

#yo {
    grid-column: 1 / 2;
    top: 0;
}

#ja {
    grid-column: 3 / 4;
    bottom: 0;
}

#kk {
    grid-column: 5 / 6;
    top: 0;
}

#ji {
    grid-column: 7 / 8;
    bottom: 0;
}