html{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
}

body {
	margin : 0;
	padding : 0;
	background : url(img.jpg) center center fixed no-repeat;
}
/*
video {
	position : fixed;
	top : 0; 
	left : 0;
	width : 100%;
	height : 100%;
	z-index : -1;
}*/

/*--요소 정렬을 위한 콘테이너---------------------------*/

.centerContainer{
    position : fixed;
	top : 0; 
	left : 0;
	width : 100%;
    height: 100%;
    background-color:antiquewhite;
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*--로딩중 클래스--------------------------------------*/

.loading {
    position: absolute;
    width : 100%;
    height: 100%;
	z-index : 10;
    background-color: gray;
}

.box-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-loading {
    height: 25pt;
    width: auto;
    display: inline-block;
    margin-right: 10pt;
}

.text-loading {
    font-size: 30pt;
    display: inline-block;
}


/*--비디오 클래스--------------------------------------*/

.video{
	width : 100%;
    height: 100%;
	z-index : -1;
}

/*--아래부터 화면 등장요소 (과자) -----------------------*/
.item{
    position: absolute;
    height: 30%;
    width: 20%;
    bottom: 1vh;
    right: 1vw;
    margin: 5vh;
    /*background-color: firebrick;*/
    object-fit: contain;
    justify-content: right;
    align-items: right;
    text-align: right; 
}


#snack{
    position: relative;
    height: 100%;
    transition: .3s;
    transform: rotate(0deg);
    /*outline: 10px solid red;*/
}

/*#snack:hover{
    left: -10%;
    transform: rotate(10deg);
    height: 120%;
}
*/
#button{
    width: 100%;
}